# Параметры портала Госзакупок
GOSZAKUP_URL=YOUR_URL_HERE
GOSZAKUP_TOKEN=Bearer YOUR_GOSZAKUP_TOKEN_HERE

# Параметры AI
AI_URL=YOUR_URL_HERE
AI_TOKEN=YOUR_AI_TOKEN_HERE
AI_MODEL=openai/gpt-oss-120b

# База данных
DB_HOST=localhost
DB_NAME=goszakup_db
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD_HERE
DB_PORT=5432
